/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

*{
  box-sizing: border-box;
}

body{
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 20px 0;
  color: #000;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}

nav{
  float: right;
  overflow: hidden;
  padding: 5px 5px 0 0;
}


.wrapped{
  width: 800px;
  margin: 0 auto;
  background-color: whitesmoke;
  border-radius: 10px;
  overflow: hidden;
}

header{
  padding: 20px;
}

header > #logo{
  font-size: 2em;
}

#resim{
  overflow: hidden;
}

main{
  padding: 70px;
}

section{
  float: left;
  width: 70%px;
}

aside{
  float: right;
  width: 30%px;
  background-color: #4e696bb5;
  padding: 10px;
  margin: 20px;
}

footer{
  padding 20px;
  border-top: 1px solid gray;
  text-align: center;
}

aside h3{
  background-color: #da8039d6;
  color: #10355a;
  padding: 10px;
}

aside ul{
  color: yellow;
}

aside a{
  color: green;
}

h1, h2, h3{
  margin: 0;
}

article{
  padding: 20px 0;
  border-bottom: 1px solid gray;
}

article:last-child{
  border-bottom: 0px;
}
